<nav class="navbar navbar-expand-lg ">
 
    <a class="navbar-brand" href="#"><img src="assets\img\servimsa-logo.svg" id="icon" alt="User Icon" height="30"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [href]="dashbord">Dashboard </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [href]="reportes">Reportes </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [href]="qrgenerador">Generador qr </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [href]="nparte">Lison y N°parte </a>
        </li>
      </ul>
    </div>
    <div class="float-right">
      <div class="container">
        <input type="submit" class="nav-link bton" (click)="onSubmit()" value="Salir">
      </div>
    </div>
  </nav>
  
