<app-header></app-header>

<br>
<div class="container">
  <div class='row dashboard-cards'>
    <div class='card col-md-4'>
      <a [href]='reportes'>

        <div class='card-title'>

          <h2>
            Reportes
            <small>Tienes 0 tareas pendientes</small>
          </h2>
          <div class='task-count'>
            0
          </div>
        </div>
      </a>
      <div class='card-flap flap1'>
        <div class='card-description'>
          <ul class='task-list'>
            <li>
              Sent Question Pending
              <span>59%</span>
            </li>
            <li>
              Sent Answer Pending
              <span>11%</span>
            </li>
            <li>
              File Attchment Pending
              <span>100%</span>
            </li>
            <li>
              Document Send Pending
              <span>7%</span>
            </li>
          </ul>
        </div>
        <div class='card-flap flap2'>
          <div class='card-actions'>
            <a class='btn' href='/reportes'>Close</a>
          </div>
        </div>
      </div>
    </div>
    <div class='card col-md-4'>
      <a [href]='qr'>
        <div class='card-title'>
          <h2>
            Generador Qr
            <small>Tienes 0 tareas pendientes</small>
          </h2>
          <div class='task-count'>
            0
          </div>
        </div>
      </a>
      <div class='card-flap flap1'>
        <div class='card-description'>
          <ul class='task-list'>
            <li>
              Sent Question Pending
              <span>59%</span>
            </li>
            <li>
              Sent Answer Pending
              <span>11%</span>
            </li>
            <li>
              File Attchment Pending
              <span>100%</span>
            </li>
            <li>
              Document Send Pending
              <span>7%</span>
            </li>
          </ul>
        </div>
        <div class='card-flap flap2'>
          <div class='card-actions'>
            <a class='btn' href='#'>Close</a>
          </div>
        </div>
      </div>
    </div>
    <div class='card col-md-4'>
      <a [href]='nparte'>

        <div class='card-title'>

          <h2>
            Lison y  N°parte
            <small>Tienes 0 tareas pendientes</small>
          </h2>
          <div class='task-count'>
            0
          </div>
        </div>
      </a>
      <div class='card-flap flap1'>
        <div class='card-description'>
          <ul class='task-list'>
            <li>
              Sent Question Pending
              <span>59%</span>
            </li>
            <li>
              Sent Answer Pending
              <span>11%</span>
            </li>
            <li>
              File Attchment Pending
              <span>100%</span>
            </li>
            <li>
              Document Send Pending
              <span>7%</span>
            </li>
          </ul>
        </div>
        <div class='card-flap flap2'>
          <div class='card-actions'>
            <a class='btn' href='#'>Close</a>
          </div>
        </div>
      </div>
    </div>
    <div class='card col-md-4'>
      <div class='card-title'>
        <h2>
          Tester
          <small>Tienes 0 tareas pendientes</small>
        </h2>
        <div class='task-count'>
          0
        </div>
      </div>
      <div class='card-flap flap1'>
        <div class='card-description'>
          <ul class='task-list'>
            <li>
              Sent Question Pending
              <span>59%</span>
            </li>
            <li>
              Sent Answer Pending
              <span>11%</span>
            </li>
            <li>
              File Attchment Pending
              <span>100%</span>
            </li>
            <li>
              Document Send Pending
              <span>7%</span>
            </li>
          </ul>
        </div>
        <div class='card-flap flap2'>
          <div class='card-actions'>
            <a class='btn' href='#'>Close</a>
          </div>
        </div>
      </div>
    </div>
    <div class='card col-md-4'>
      <div class='card-title'>
        <h2>
          Tester
          <small>Tienes 0 tareas pendientes</small>
        </h2>
        <div class='task-count'>
          0
        </div>
      </div>
      <div class='card-flap flap1'>
        <div class='card-description'>
          <ul class='task-list'>
            <li>
              Sent Question Pending
              <span>59%</span>
            </li>
            <li>
              Sent Answer Pending
              <span>11%</span>
            </li>
            <li>
              File Attchment Pending
              <span>100%</span>
            </li>
            <li>
              Document Send Pending
              <span>7%</span>
            </li>
          </ul>
        </div>
        <div class='card-flap flap2'>
          <div class='card-actions'>
            <a class='btn' href='#'>Close</a>
          </div>
        </div>
      </div>
    </div>
    <div class='card col-md-4'>
      <div class='card-title'>
        <h2>
          Tester
          <small>Tienes 0 tareas pendientes</small>
        </h2>
        <div class='task-count'>
          0
        </div>
      </div>
      <div class='card-flap flap1'>
        <div class='card-description'>
          <ul class='task-list'>
            <li>
              Sent Question Pending
              <span>59%</span>
            </li>
            <li>
              Sent Answer Pending
              <span>11%</span>
            </li>
            <li>
              File Attchment Pending
              <span>100%</span>
            </li>
            <li>
              Document Send Pending
              <span>7%</span>
            </li>
          </ul>
        </div>
        <div class='card-flap flap2'>
          <div class='card-actions'>
            <a class='btn' href='#'>Close</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>